.container(ng-if="results.flights.length > 0")
    h2 {{ results.count }} results 
    table.table.table-striped
        tr(ng-repeat="item in results.flights")
            td {{ item.outbound.airportFrom.name }}
            td {{ item.outbound.airportTo.name }}
            td {{ item.outbound.price.value }} {{ item.outbound.price.currencySymbol }}
