.container(ng-if="results.length > 0")
    h2 {{ qty }} results 
    table.table.table-striped
        tr
            th From
            th To
            th Price
        tr(ng-repeat="item in results")
            td {{ item.outbound.airportFrom.name }}
            td {{ item.outbound.airportTo.name }}
            td {{ item.outbound.price.value }} {{ item.outbound.price.currencySymbol }}
